.nblue {
    color: rgb(0, 0, 138);
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

.box {
    background-color: white;
    border-radius: 20px;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.box a {
    text-decoration: none;
}

label {
    margin-bottom: 15px;
}

input[type=number] {
    -moz-appearance: textfield;
}